@import "../../node_modules/normalize.css/normalize.css";

:root {
  --background-color: #000;
  --border-radius: .125rem;
  --text-color: #f00;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  background: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  line-height: 1.5;
}
