@import "../../node_modules/normalize.css/normalize.css";

:root {
  --background-color: rgb(0, 0, 0);
  --border-radius: .125rem;
  --border-color: rgb(90, 0, 0);
  --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  --text-color: rgb(200, 0, 0);

  --error-background-color: rgba(255, 0, 0, .2);

  --icon-opacity: .7;

  --secondary-font-family: Menlo, "Andale Mono", "Courier New", monospace;
  --secondary-font-size: 80%;
  --secondary-line-height: 1.25;
  --secondary-text-color: rgb(190, 0, 0);

  --spacing: .5rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.5;
}
@media (min-width: 70em) {
  html {
    font-size: 120%;
  }
}

