@import "../../node_modules/normalize.css/normalize.css";

:root {
  --background-color: #000;
  --border-radius: .125rem;
  --border-color: rgb(80, 0, 0);
  --text-color: rgb(255, 0, 0);


  --error-background-color: rgba(255, 0, 0, .2);

  --icon-opacity: .7;

  --secondary-font-size: 75%;
  --secondary-line-height: 1.25;
  --secondary-text-color: rgb(170, 0, 0);

  --spacing: .5rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  background: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  line-height: 1.5;
}

