.Cameras {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: var(--spacing) var(--spacing);
  padding-bottom: calc(2 * var(--spacing));
}
.Cameras a {
  color: var(--secondary-text-color);
  text-decoration: none;
  width: 100%;
}
.Cameras a:active p,
.Cameras a:focus p,
.Cameras a:hover p {
  opacity: .8;
}

.Cameras img {
  flex: 2;
  display: block;
  height: auto;
  max-height: calc(100% - 2em);
  max-width: 100%;
  width: auto;
}
.Cameras p {
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  margin: 0;
  padding: var(--spacing) 0 0 var(--spacing);
}

