.ErrorAlert {
  background: var(--error-background-color);
  border-left: medium solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-text-color);
  justify-content: space-between;
  line-height: var(--secondary-line-height);
  padding-bottom: calc(1.5 * var(--spacing));
  padding-left: calc(2 * var(--spacing));
  padding-right: var(--spacing);
  padding-top: calc(1.5 * var(--spacing));
}
.ErrorAlert button {
  background: var(--text-color);
  border-radius: 100%;
  border: none;
  color: var(--background-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  height: 1em;
  line-height: 1;
  padding: 0;
  text-align: center;
  width: 1em;
}
.ErrorAlert button:active,
.ErrorAlert button:focus,
.ErrorAlert button:hover {
  opacity: 0.8;
}

