.Home {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  padding: calc(2 * var(--spacing));
}
@media (orientation: landscape) {
  .Home {
    flex-direction: row;
  }
}

/** Errors */
.Home-errors {
  left: 0;
  padding: calc(2 * var(--spacing)) calc(2 * var(--spacing)) 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.Home-errors .ErrorAlert + .ErrorAlert {
  margin-top: var(--spacing);
}

/** Alerts */
.Home .WeatherAlerts {
  border-color: var(--border-color);
  border-style: solid;
  border-width: thin 0 0;
  display: flex;
  padding: calc(2 * var(--spacing)) 0 0;
}
@media (orientation: landscape) {
  .Home .WeatherAlerts {
    border: 0 0 0 thin;
    flex-direction: column;
    padding: 0 0 0 calc(2 * var(--spacing));
    width: 33.33%;
  }
}

/** Weather */
.Home .WeatherDays {
  display: flex;
  flex: 2;
  flex-direction: column;
}
@media (orientation: landscape) {
  .Home .WeatherDays {
    padding-right: calc(2 * var(--spacing));
  }
}

