.WeatherDays {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Current */

.WeatherDays-current {
  border-bottom: thin solid var(--border-color);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: calc(2 * var(--spacing));
  padding-bottom: calc(4 * var(--spacing));
  text-align: center;
}

.WeatherDays-current .WeatherIcon,
.WeatherDays-current-temp,
.WeatherDays-current-summary {
  padding-right: calc(2 * var(--spacing));
  padding-left: calc(2 * var(--spacing));
}

.WeatherDays-current .WeatherIcon {
  width: 6.5em;
}

.WeatherDays-current-temp {
  font-size: 350%;
  font-weight: 200;
  line-height: 1;
  margin: 0;
}
.WeatherDays-current-summary {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 150%;
  line-height: 1.25;
  margin: 0;
}
.WeatherDays-current-daily {
  color: var(--secondary-text-color);
  margin: calc(2 * var(--spacing)) 0 0;
  width: 100%;
}

/** Items */

.WeatherDays-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(2 * var(--spacing));
  padding-top: calc(2 * var(--spacing));
}
.WeatherDays-item + .WeatherDays-item {
  border-top: thin solid var(--border-color);
}

.WeatherDays-item-date {
  color: var(--secondary-text-color);
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}

.WeatherDays-item .WeatherIcon {
  width: 3em;
}

.WeatherDays-item-summary {
  display: none;
}

/** Item temp */
.WeatherDays-item h2 {
  font-size: 200%;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

.WeatherDays-item-high,
.WeatherDays-item-low {
  text-align: center;
}

/** Item time */
.WeatherDays-item time {
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  padding-right: 1ex;
}

.WeatherDays-item-high {
}

.WeatherDays-item-low {
}

