.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.App-nav {
  order: 2;
}

.App-nav {
  padding-left: calc(2 * var(--spacing));
  padding-right: calc(2 * var(--spacing));
}
.App-nav nav {
  border-top: thin solid var(--border-color);
}
.App-nav a {
  color: var(--secondary-text-color);
  display: inline-block;
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  padding: 0.5em;
  text-decoration: none;
}
.App-nav a.active {
  font-weight: 700;
}
.App-nav a:active,
.App-nav a:focus,
.App-nav a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

/* TODO: Style image */
.App-nav img {
  display: none;
}

.App-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 2;
}

