.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.App-nav {
  order: 2;
}

.App-nav {
  padding: var(--spacing);
}
.App-nav a {
  color: inherit;

  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  padding: 0.5em;
  text-decoration: none;
}
.App-nav a.active {
  font-weight: 700;
}
.App-nav a:active,
.App-nav a:focus,
.App-nav a:hover {
  text-decoration: underline;
}

.App-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 2;
}

