.Home {
  align-items: stretch;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(2 * var(--spacing));
}

/** Errors */
.Home-errors {
  left: 0;
  padding: calc(2 * var(--spacing)) calc(2 * var(--spacing)) 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.Home-errors .ErrorAlert + .ErrorAlert {
  margin-top: var(--spacing);
}

/** Alerts */
.Home .WeatherAlerts {
  border-left: thin solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding-left: calc(2 * var(--spacing));
  width: 33.33%;
}

/** Weather */
.Home .WeatherDays {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding-right: calc(2 * var(--spacing));
}

