.LoadingIndicator {
  display: block;
  text-align: center;
}

.LoadingIndicator svg {
  animation: 1s linear infinite LoadingIndicator-spin;
  margin-bottom: .75em;
  opacity: .33;
}

.LoadingIndicator span {
  color: var(--secondary-text-color);
  display: block;
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  padding-left: .5em;
}

@keyframes LoadingIndicator-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
