.WeatherAlerts {
  display: flex;
  flex-direction: column;
}

.WeatherAlerts .WeatherAlerts-item + .WeatherAlerts-item {
  border-top: thin solid var(--border-color);
  margin-top: calc(2 * var(--spacing));
  padding-top: calc(2 * var(--spacing));
}

.WeatherAlerts-item a {
  color: inherit;
  display: block;
  text-decoration: none;
}
.WeatherAlerts-item-name {
  font-size: 100%;
  line-height: inherit;
  margin: 0 0 1rem;
}
.WeatherAlerts-item-meta {
  margin: 0 0 1rem;
  padding: 0;
}
.WeatherAlerts-item-meta dd {
  margin: 0;
}
.WeatherAlerts-item-meta time {
  font-size: 120%;
  font-weight: 700;
  line-height: 1.25;
}
.WeatherAlerts-item-meta dd span {
  font-size: 62.5%;
  opacity: 0.75;
  padding-left: .5em;
}

.WeatherAlerts-item-area {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  margin: 0;
}

/** Loading state */
.WeatherAlerts-loading {
  justify-content: center;
}
